body{
    background-color: rgb(248, 194, 194);
}

.container {
    width: 250px;
    height: 400px;
    margin: 80px auto;
    border-radius: 10px;
    background:  rgb(248, 194, 194);
   box-shadow: 5px 5px 10px #807d7d, -5px -5px 10px #0a0909;

}

.cal-box {
    width: 200px;
    margin:20px auto;
}

#display {
    border: none;
    outline: none;
    color:black;
    text-align: right;
    font-weight: 600;
    Padding: 15px;
    margin: 30px 0 20px 0;
    background: transparent;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff;
}

.button {
    margin: 15px 0 0 5px;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(240, 192, 192);
    box-shadow: 5px 5px 10px #4b4a4a, -5px -5px 10px #fcf6f6;
    display: inline-block;

}

.button:active {
    box-shadow: inset 2px 2px 3px #c1d5fd, inset -2px -2px 3px #ffffff;
}

.clearButton {
    background:  aqua;
    color:  red;
}

.mathbutton {
    background: black;
    color: white;
}